@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@font-face {
    font-family: "FonteLogo";
    src: url("../_fonts/bubblegum-sans-regular.otf");
}
        p {
            text-align:justify;
            text-indent: 50px;
        }
        body {
            /*background-image: url("açoescovado.jpg");*/
            color: rgba(0, 0, 0, 1);
            background-color: #dddddd
        }
div#interface {
    width: 1050px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px 10px 10px 10px;
}
header#cabeçalho img#icone {
    width: 200px;
    position: absolute;
    left: 1050px;
    top: 70px;
}
header#cabeçalho {
    border-bottom: 1px #606060 solid;
    height: 160px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 100px;
}
header#cabeçalho h1 {
    font-family: FonteLogo, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
}
header#cabeçalho h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}
        /* Formatação de imagens com legenda*/ 
figure.foto-legenda {
    position: relative;
    border: 8px solid rgb(253, 253, 253);
    width: 600px;
    box-shadow: 1px 1px 4px black;
}
figure.foto-legenda img {
    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: 1s;
}
figure.foto-legenda figcaption:hover {
    opacity: 1;
}
/* Formatação do Menu */
nav#menu {
    display: block;
} 
nav#menu a {
    color: black;
    text-decoration: none;
}
nav#menu a:hover {
    color: white;
    /* text-decoration-line: underline; PARA DECORAR */
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 350px;
}  
nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}
nav#menu li:hover {
    background-color: #606060;
}
nav#menu h1 {
    display: none;
}